<h1>Lyrics on Rails</h1>

<p> Search lyrics for a song below</p>

<form>
  <input name="song_title" type="text" placeholder="Title">
  <input name="song_artist" type="text" placeholder="Artist">
  <input id="search_lyrics" type="submit" value="SUBMIT">
</form>
<br>
<br>


